{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block content %}
<section class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="container" style="max-width: 500px;">
    <div class="card shadow-sm p-4">
      <h1 class="text-center mb-4">Actualización de perfil</h1>
      <h3 class="text-center text-muted mb-4">Usuario: {{ user_name }}</h3>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Email -->
        <div class="mb-4">
        <label for="{{ form.email.id_for_label }}" class="form-label">Correo Electrónico</label>
        <input type="email" name="email" value="{{ form.email.initial }}" class="form-control" />
    </div>
    <div class="mb-4">
        <label for="{{ form.image.id_for_label }}" class="form-label">Imagen de perfil: {{ form.image.initial }}</label>
        <input type="file" name="image" class="form-control" value="{{ form.image.initial }}" />
    </div>
    <div class="mb-4">
        <label for="{{ form.location.id_for_label }}" class="form-label">Ubicación</label>
        <input type="text" name="location" value="{{ form.location.initial|default:'' }}" class="form-control" placeholder="Rellene este campo: opcional"/>
    </div>
        <!-- Mostrar errores -->
        {% if form.errors %}
        <div class="alert alert-danger">
          {% for field in form %}
          {% for error in field.errors %}
          <p class="mb-1">{{ error }}</p>
          {% endfor %}
          {% endfor %}
        </div>
        {% endif %}
        <!-- Botón para guardar -->
        <div class="d-grid">
          <button type="submit" class="btn btn-success">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
