{% extends "base_to_admin.html" %}
{% load custom_filters %}
{% block content %}

 <div class="card mt-3 text-white" style="background-color: rgb(2, 0, 26)">
    <div class="card-header">Agregar cantidades establecer Receta</div>
    
      {% if form.errors %}
      <div class="alert alert-danger alert-dismissible text-danger text-center"></div>
      <ul class="bg-dark" style="list-style: none;">
        <h5><i class="icon fas fa-ban" ></i> ha ocurrido un error al guardar los datos</h5>
        <li  ><strong class="text-danger">{{ form.errors }}</strong></li>
      </ul>
    </div>
      {% endif %}
    
    <div class="card-body text-center d-flex flex-column justify-content-center" style="background-color: rgb(2, 0, 26)">
    <!-- Lista de ingredientes -->
    <div class="mb-4">
        <ul class="list-unstyled bg-secondary p-3">
            {% for ingrediente_id, data in ingredientes_dict.items %}
                <li class="mb-2">{{ data.ingrediente.nombre_i }} - {{ data.cantidad }} <a href="{% url 'eliminar_name' id=ingrediente_id  %}"> <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-trash3 text-danger"
          viewBox="0 0 16 16"
        >
          <path
            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
          />
        </svg></a></li>
            {% endfor %}
        </ul>

    </div>

    <!-- Selección de receta -->
    <div class="form-group mb-4" >
        <label for="receta" class="form-label text-white">Selecciona una receta:</label>
        <select name="receta_id" class="form-select bg-dark text-white" id="receta_select" required>
            {% for receta in recetas %}
                <option value="{{ receta.id }}">{{ receta.nombre_r }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Formulario para agregar ingrediente -->
    <form action="" class="form-group col-md-12" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        <input type="hidden" name="receta_input" id="receta_input" value="">
        
        <div class="form-group mb-4">
            <label for="ingrediente" class="form-label text-white">Selecciona un ingrediente:</label>
            <select name="ingrediente_id" class="form-select bg-dark text-white" required>
                {% for ingrediente in ingredientes %}
                    <option value="{{ ingrediente.id }}">{{ ingrediente.nombre_i }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group mb-4">
            <label for="cantidad" class="form-label text-white">Cantidad:</label>
            <input type="number" class="form-control bg-dark text-white" step="0.01" name="cantidad" required>
        </div>

        <button type="submit" class="btn btn-outline-success mt-4">
            <i class="fas fa-save"></i> Agregar ingrediente
        </button>
    
         <button type="submit" class="btn btn-outline-primary mt-4" name="action" value="save_all">
        <i class="fas fa-save"></i> Guardar todo en la base de datos
    </button>
    </form>
</div>

  </div>
{% endblock content %}
{% block scripts_admin %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const recetaSelect = document.getElementById('receta_select');
        
        const recetaInput = document.getElementById('receta_input');
        
        recetaInput.value = recetaSelect.value;
        recetaSelect.addEventListener('change', function() {

            recetaInput.value = recetaSelect.value;

        });
    });

</script>
{% endblock scripts_admin %}