{% extends "base_to_admin.html" %} {% block content %}

<div class="card card-default mt-5">
  <div class="card-header">
    <div class="card-title">{% block title %} {% endblock title %}</div>
  </div>
  <table class="table table-striped" id="table_list">
    <thead>{% block head %} {% endblock head %}</thead>
    <tbody>{% block columns %} {% endblock columns %}</tbody>
  </table>
  <div class="card-footer">
    {% block buttonmoreitems %} {% endblock buttonmoreitems %}
  </div>
</div>
{% endblock content %}

{% block scripts_admin %}
<script>
  $('#table_list').DataTable({
  paging: true,            // Activa/desactiva paginación
  searching: true,         // Activa/desactiva búsqueda
  ordering: true,          // Activa/desactiva ordenamiento
  pageLength: 5,           // Número de filas por página
  language: {
    url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json", // Traducción
  },
});
</script>
{% endblock scripts_admin %}