{% extends 'base.html' %} {% block content %} {% if form.errors %}
<div class="mt-5 mb-5 bg-danger">{{ form.errors }}</div>
<div class="mt-5 mb-5 bg-danger">
  {% if status == 'error' %}
  <div class="error">{{ error_message }}</div>
  {% endif %} {% if status == 'success' %}
  <div class="success">
    ¡Usuario creado con éxito! Por favor, inicia sesión.
  </div>
  {% endif %}
</div>
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form class="form" method="post">
        {% csrf_token %}
        <div class="title">
          Welcome,
          <br />
          <span>sign up to continue</span>
        </div>
        <label for="username" class="text-light">Nombre del Usuario:</label>
        <input
          type="text"
          placeholder="nombre de usuario"
          name="username"
          id="username"
          class="input"
        />
        <label for="password1" class="text-light">password</label>
        <input
          type="password"
          placeholder="Password1"
          name="password1"
          id="password1"
          class="input"
        />
        <label for="password2" class="text-light">Verificar</label>
        <input
          type="password"
          placeholder="verificacion de la contraseña"
          name="password2"
          id="password2"
          class="input"
        />
        <div class="login-with">
          <div class="button-log">🐱</div>
        </div>
        <button class="button-confirm" type="submit">Start Now →</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
