{% extends "list.html" %}


<h2>Tu carrito</h2>
{% block head %}
<tr>
  <th scope="col">Nr°</th>
  <th scope="col">Imagen</th>

  <th scope="col">Nombre</th>
  <th scope="col">precio</th>
  <th scope="col">cantidad</th>
  <th scope="col">opciones</th>

</tr>

{% endblock head %} {% block columns %} {% for item in cart_items %}
<tr>
  <td scope="row">{{ item.id }}</td>
  <td scope="row"><img
      src="{{ item.image }}"
      alt="Image"
      class="img img-fluid"
      style="width: 40px; height: auto"
    /></td>

  <td>{{ item.name }}</td>
  <td>{{ item.price }}</td>
  <td>{{ item.cant }}</td>
  <td>
    <form action="{% url 'show_product' item.id %}">
      <button class="btn btn-primary btn-xs" type="submit">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
    </form>
    <form action="{% url 'Eliminar_Cart' pk=item.id %}" method="post">
       {% csrf_token %} 

      <button class="btn btn-danger btn-xs" type="submit">
      <i class="fa-solid fa-trash-can"></i>
    </button>
    </form>
  </td>
</tr>

{% endfor %} {% endblock columns %} 
{% block buttonmoreitems %}
<div class="container">
  <div class="d-flex justify-content-between">
    <div><h2 ><strong>Total Compra:</strong> {{ total_cart }} </h2></div>
    <div><form action="{% url 'comprar'  %}" method="post">
          {% csrf_token %} 

          <button class="btn btn-success btn-xs" type="submit">
          <i class="fa-solid fa-shopping-cart p-2">Comprar</i>
        </button>
        </form></div>
    
  </div>
</div>
    

    

 {% endblock buttonmoreitems %}

