{% extends 'list.html' %} {% block head %}

<tr>
  <th scope="col">Nr°</th>
  <th scope="col">Nombre</th>
  <th scope="col">Categoria</th>
  <th scope="col">Imagen</th>
  <th scope="col">Precio de Venta</th>
  <th scope="col">Opciones</th>
</tr>

{% endblock head %} {% block columns %} {% for c in products %}
<tr>
  <td scope="row">{{ c.id }}</td>
  <td>{{ c.name}}</td>
  <td>{{ c.cate }}</td>
  <td>
    <img
      src="/media/{{ c.image }}"
      alt="Image"
      class="img img-fluid"
      style="width: 40px; height: auto"
    />
  </td>
  <td>{{ c.pvp|floatformat:2 }}</td>

  <td>
    <form action="{% url 'update_product' c.pk %}" method="post">
      {% csrf_token %}
      <button class="btn btn-primary btn-xs" type="submit">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
    </form>
    <form
      action="{% url 'delete_product'  c.pk %}"
      class="form_p"
      method="post"
    >
      {% csrf_token %}
      <button class="dbutton btn btn-danger btn-xs" type="submit">
        <i class="fa-solid fa-trash-can"></i>
      </button>
    </form>
  </td>
</tr>

{% endfor %} {% endblock columns %} {% block scripting %} {{ block.super }}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const botones = document.querySelectorAll(".dbutton");
    console.log(botones);

    botones.forEach((btn) => {
      btn.addEventListener("click", function (event) {
        event.preventDefault();

        const formId = btn.parentElement.className;
        const form = document.querySelector(`.${formId}`);

        if (!form) {
          console.error(`Formulario con selector ${formId} no encontrado.`);
          return;
        }

        Swal.fire({
          title: "¿Estás seguro?",
          text: "¡No podrás revertir esto!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "¡Sí, eliminar!",
        }).then((result) => {
          if (result.isConfirmed) {
            form.submit();
          }
        });
      });
    });
  });
</script>
{% endblock scripting %}
